body {
    color: $main-text-color;
    background-color: #ece0fb74;
    font-size: $main-font-size;
    font-family: $main-font-family;
}
.col-sm-12 {
    padding-left: 0em;
    padding-right: 0em;
}

.users{
    color: #5f0084
    
}

.navbar {
    background-color: #d1c4e9;
    border-radius: 0px;
    border: none;
    margin: 0.5em;
    box-shadow: 5px 7px #88599a;
}

.roku-header {
    background-color: rgb(152, 18, 18);
}

.nav_ico {
    margin: 1em;
    color: #5f0084;
}
footer{
    background: #efc7ff;
    padding-top: 40px;
    color: #fff;
    margin: 0.5em 0.5em 2em 0.5em;
    box-shadow: 5px 7px #88599a;
    color: #39004f;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #5f0084;
    border: 1.1px solid #5f0084;
    padding: 5px;
    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #9738bc;
}

.footer-bottom{
    background: #63008a;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}