.users-headline { 
    font-size:2em; 
    padding: 1em;
    padding-top: 3em;
    // margin-top: 2rem;
    margin-bottom: 1em; }

.users-container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .user-panel { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 1em;
        cursor: pointer;

        img { 
            margin-bottom: 0.75em;
            border-radius: 1.5em;
            border: 0.1em solid #5f0084;
            box-shadow: 10px 10px #88599a5d;
         }
        img:hover {
            box-shadow: 5px 5px #7d578d7f;
        }
    }

    .resp_user{
        width: 100%;
    }
}

